html {
  font-family: "Noto Serif", serif;
}

h1 {
  margin: 0;
}

.trees {
  background-color: #70ad55;
  width: 100%;
  color: #fff;
}

footer {
  background-color: #70ad55;
  width: 100%;
  color: #fff;
}

.huggerio {
  margin: 0;
  padding-bottom: 1.7em;
}

.apply {
  margin-left: 7em;
}

input,
select,
textarea,
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
border-color: #6e8c62;
}

h1{
  margin-bottom: 15px;
}
