html {
  font-family: "Noto Serif", serif;
}

.trees {
  background-color: #70ad55;
  width: 100%;
  color: #fff;
}

footer {
  background-color: #70ad55;
  width: 100%;
  color: #fff;
}

input,
select,
textarea, {
  border-color: #6e8c62;
}
